@font-face {
    font-family: 'MyCustomFont';
    src: url('../assets/fonts/Wariowareinc-BWWdn.ttf') format('truetype'); /* Change to your actual font file name and format */
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #181a1b;
    font-family: 'MyCustomFont', Arial, sans-serif;
}
.card {
    background-color: #23272b;
    color: #f8f9fa;
}
.form-label, .card-title, label, select, option {
    color: #f8f9fa !important;
}
.form-control, .form-select {
    background-color: #181a1b;
    color: #f8f9fa;
    border: 1px solid #343a40;
}
.form-control:focus, .form-select:focus {
    background-color: #23272b;
    color: #f8f9fa;
    border-color: #495057;
}
#output {
    background-color: #101214 !important;
    color: #63ffba !important;
    font-family: 'MyCustomFont', monospace !important;
    font-size: 1rem;
}

.btn-primary {
    background-color: #8854f3 !important;
    border-color: #8854f3 !important;
    color: white !important;
}
.btn-primary:hover, .btn-primary:focus {
    background-color: #6d3fc2 !important;
    border-color: #6d3fc2 !important;
    color: white !important;
}

.CodeMirror, .CodeMirror pre, .CodeMirror-lines {
    font-family: 'MyCustomFont', monospace !important;
    font-size: 1rem;
}

.btn-success {
    background-color: #63ffba !important;
    border-color: #63ffba !important;
    color: white !important;
}
.btn-success:hover, .btn-success:focus {
    background-color: #4fd19a !important;
    border-color: #4fd19a !important;
    color: #8854f3 !important;
}


#languageId:disabled, .form-select:disabled {
    background-color: #ff8c5c !important;
    color: #181a1b !important;
    opacity: 1 !important;
}

#timerDisplay,
.btn-warning,
#retryBtn {
    background-color: #fff982 !important;
    border-color: #fff982 !important;
    color: #000871 !important;
}

#timerDisplay {
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    font-weight: bold;
}

#backBtn,
.btn-secondary {
    background-color: #ff79ae !important;
    border-color: #ff79ae !important;
    color: #181a1b !important;
}

#downloadCodeBtn {
    background-color: #639bff !important;
    color: #fff !important;
    border: none !important;
}
#downloadCodeBtn:hover, #downloadCodeBtn:focus {
    background-color: #4076c4 !important;
    color: #fff !important;
}